.body {
    background-color: rgb(75, 75, 75);
}

.top {
    position: relative;
    width: 1400px;
    height: 120px;
    background-color: rgb(145, 145, 145);
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    margin: auto;
}

.day42 {
    position: absolute;
    height: 110px;
    margin-left: 1%;
    margin-top: 0.3%;
}

.scope {
    position: absolute;
    height: 110px;
    margin-top: 15px;
    margin-left: 85%;
}

.reload {
    position: absolute;
    margin-top: 0.5%;
    margin-left: 98.5%;
    width: 15px;
}

.close {
    position: absolute;
    margin-top: 7%;
    margin-left: 98.5%;
    width: 15px;
}

.warp {
    position: relative;
    width: 1360px;
    height: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.left {
    position: absolute;
    background-color: rgb(145, 145, 145);
    width: 150px;
    height: 480px;
    margin-left: 100px;
    align-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}

.right {
    position: absolute;
    background-color: rgb(145, 145, 145);
    width: 150px;
    height: 480px;
    margin-left: 1100px;
    align-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}

.mid {
    position: absolute;
    background-color: rgb(145, 145, 145);
    width: 720px;
    margin-left: 320px;
    height: 620px;
    align-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}

.icon {
    height: 95px;
}

.eye {
    margin-top: 3%;
    border: 3px solid red;
    border-spacing: 1px;
    height: 85px;
}

.brick {
    background-image: url(resources/brick.jpg);
    background-repeat: repeat;
    height: 95px;
    width: 85%;
    margin-left: 7.5%;
}

.cluster {
    margin: 10px;
    height: 600px;
    width: 700px;
}

.gblock {
    position: absolute;
    background-color:rgb(143, 253, 143);
    text-align: left;
    margin-left: 75px;
    margin-top: 520px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    width: 450px;
    height: 150px;
}

.text {
    margin-left: 3%;
}

.text2 {
    text-shadow: 1px 1px 1px red;
}

.text3 {
    margin-left: 0%;
}

.cap {
    font-size: 35;
}

.box {
    margin-left: 3%;
    width: 300px;
}

.btn {
    width: 100px;
}