table, th, td {
    border: 1px solid grey;
    border-spacing: 0px;
    border-width: 2px;
}
th {
    border: 1px solid black;
    width: 35px;
    height: 15px;
}
/*Colours*/
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.Green {
    background-color: green;
}
.lightskyblue {
    background-color: lightskyblue;
}
.blue {
    background-color: blue;
}
.lightpurple {
    background-color: mediumslateblue;
}
.purple {
    background-color: rebeccapurple;
}
.Greenyellow {
    background-color: greenyellow;
}
.mellow {
    background-color: palegoldenrod;
}
.tb { 
    border-spacing: 5px;
    border: 1px solid grey;
}
a.at {
    float:right;
    font-size:75%;
}
a.nb {
    float:left;
    font-size:75%;
}
.nm {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    float:center;
}